/*Add CSS styles here*/

.map-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: left;
    z-index: 10;
}


.chart-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: right;
    z-index: 0;
}


.text {
    size: 40px;
    font-weight: bold;
}

/*dropdown*/
.dropdown {
    position: absolute;
    top: 250px;
    left: 10px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

#radio-buttons {
    margin: 20px; /* Adjust margin as needed */
}

#svg-container {
    margin: 20px;
    position: relative;
}


.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
}