/*Add CSS styles here*/


/*border for enumertaion units*/
.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

/*chart*/
.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.6em;
    fill: #999;
}

/*dropdown*/

.dropdown {
    position: absolute;
    top: 100px;
    left: 40px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

/*info lables*/
.infolabel {    margin: 0 20px 0 0;    position: absolute;
    height: 63px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

/*svg elements*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map-container, .chart-container, .bubble-container {
    width: 100vw;
    height: auto;
    display: flex;
    margin: 10px;
    align-items: left;
}

/*text*/
.text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: whitesmoke;
}

.text second {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7px;
    color:whitesmoke
}


.title-container h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke;
}

.title-container h2 {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke;
}

/*states*/
.states {
    fill: #CCC;
    stroke: #020202;
    stroke-width: 0.5px;
}

/*body background*/
body {
    background-color: rgb(0,0,0);
    background-color: radial-gradient(circle, rgba(0,0,0,1) 1%, rgba(11,0,236,1) 47%);
}



