/*Add CSS styles here*/

.map-container {
    display: flex;
    margin: 10px;
    align-items: left;
}

.chart-container {
    display: flex;
    margin: 10px;
    align-items: right;
}

